.caixa_Width{
   border-width: 2px;
   border-style: solid;
   border-color: red;

   border: 2px solid rebeccapurple;
   width: 50px;
}

.imagem_width{
    width: 300px;
}

.caixa_height{
    border: 3px dashed greenyellow;

    height: 50px;
    width: 100px;
}
